.App {
  text-align: center;
  margin-top: 20vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.completed {
  text-decoration: line-through;
}
body {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

.mainbox {
  width: 600px;
  display: flex;
  box-sizing: border-box;
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 45px rgba(0, 0, 0, 0.5);
}

.List_Of_Todo {
  padding: 15px;
  width: 70%;
  background: rgb(255, 255, 255);
  box-shadow: 0 10px 45px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
  border-radius: 10px;
}
.oneItem {
  width: 100%;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputList {
  width: 70%;
}

.gold {
  color: gold;
}
.black {
  color: rgb(161, 161, 161);
}

.Group_of_list {
  padding: 15px;
  width: 30%;
  /* position: relative; */
}
.noPad {
  padding-left: 0;
}

.divStar {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 10px;
}
.icoStar {
  font-size: 20px;
}

.icoStar:hover {
  color: orange;
}

.modalBG {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.253);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.switcherVisibleOff {
  display: none;
}

.modalWindow {
  /* position: absolute;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto; */
  z-index: 55;
  width: 400px;
  height: 400px;
  background: white;
  box-shadow: 0 10px 45px rgba(255, 208, 0, 0.753);
  border-radius: 20px;
}
